.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(68,68,68,1) 0%, rgba(27,27,27,1) 92%);
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 340px;
  background-color: #242528;
  box-shadow: 0 0 25px #000000;
}



.Logo{
  display: block;
  width: 100%;
  background-color: white;
}
.Logo:hover{
  cursor: pointer;
}

.SidebarList {
  height: auto;
  padding: 0;
}

.SidebarList .row {
  width: 100%;
  height: 70px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color:#3e4046
}

.SidebarList #active{
  cursor: pointer;
  background-color:#3e4046
}

.row #icon{
  flex: 20%;
  display: grid;
  place-items: center;
}

.row #tittle{
  flex: 80%;
}